<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>nearYou</title>

    <!-- Bootstrap -->
    <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'stylesheets/screen.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/weather-icons/css/weather-icons.min.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container">
       <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
           <span class="sr-only">Toggle navigation</span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
           <span class="icon-bar"></span>
         </button>
         <a class="navbar-brand" href="/">nearYou</a>
       </div>
       <div id="navbar" class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
           <li><a href="#about" id="about">About</a></li>
         </ul>
       </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div id="content" class="container">
      <div id="loading"><div class="loading-text"><i class="fa fa-2x fa-spinner fa-spin"></i> loading awesomeness</div></div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'bower_components/hogan.js/web/builds/3.0.2/hogan-3.0.2.js' %}" charset="utf-8"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>

    {% verbatim %}
    <script id="ads-tmpl" type="x-tmpl-mustache">
    <div class="row">
      <div class="col-md-12">
        <a href="{{ link }}" <img class="img-responsive" src="{{ image_link }}"/> </a>
      </div>
    </div>
    </script>
    <script id="place-tmpl" type="x-tmpl-mustache">
      <div id="place-{{id}}" class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="{{ image_link }}"/>
          <h2>{{ title }}</h2>
          <div>
            <i class="wi {{weather_icon}}"></i>
            <small>{{ category }}</small>
            <a class="pull-right show-map" href="#" data-id="{{id}}" data-lat="{{ lat }}" data-lon="{{ lon }}"><i class="fa fa-map"></i> Direction</a>
          </div>
          <p>{{ description }}</p>
        </div>
      </div>
    </script>
    <script id="about-tmpl" type="x-tmpl-mustache">
      <h1>About</h1>
      <p> nearYou app a prototype from BimaSakti Team, detecting nearest landmark based on weather and user position</p>
      <ul>
        <li> Firdan Backend and Emergency Frontend developer </li>
        <li> Cakra Frontend developer </li>
        <li> Deasy Marketing </li>
      </ul>
    </script>
    {% endverbatim %}

    <script src="{% static 'javascripts/app.js' %}" charset="utf-8"></script>

  </body>
</html>
