html {
  height:100%;
}

body{
  position:relative;
  width:100%;
  min-height:100%;
}

#loading {
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.5);
    top:0;
    left:0;
    right:0;
    down:0;
    position: absolute;
    z-index: 500;

    .loading-text{
      color: white;
      display: block;
      font-weight: bold;
      left: 50%;
      position: absolute;
      top: 50%;
      z-index: 999;
      color: black;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    }
}

#navbar a, .navbar-header a {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
